body {
  background-image: url("images/backgrounds-powerpoint-school-5.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 5px;
  font-size: 75px;
  text-align: center;
}

img {
  width: 275px;
  margin-top: 20px;
}

h2 {
  text-align: right;
  margin-right: 325px;
  font-size: 30px;
}

.para {
  box-sizing: border-box;
  border: 4px solid black;
  text-align: right;

  margin-right: 450px;
  margin-top: 20px;
  margin-left: 450px;
  font-size: 30px;
  background-image: url(images/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  line-height: 40px;
  text-align:center;
  
}

#shtock_button:hover {
  background-color: lightgray;
  padding: 3px;
  border-radius: 40px;
  cursor: pointer;
}
a + a {
  margin-left: 3%;
}



p {
  display: inline;
  float: right;
  margin-left: -42px;
}