h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 5px;
}

img {
    margin-left: 340px;
}

.para {
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    text-align: right;
}

h2 {
    text-align: right;
    margin-right: 375px;
    font-size: 30px;
}

.moly {
    margin-left: 600px;
}