h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  border-radius: 10px;
}

.para {
    margin-left: 400px;
    margin-right: 400px;
    font-size: 20px;
    text-align: right;
}

h2 {
    text-align: right;
    margin-right: 375px;
    font-size: 30px;
}

.moly {
    margin-left: 550px;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
